<%- include('partials/header'); -%>

<form action="">
  <h2>sign up</h2>
  <label for="email">Email</label>
  <input
    type="text"
    name="email"
    required
  />

  <label for="password">Password</label>
  <input
    type="password"
    name="password"
    required
  />
  <div class="errors error"></div>
  <button>Sign up</button>
</form>

<script>
  const form = document.querySelector('form')
  form.addEventListener('submit', async (e) => {
    e.preventDefault()

    // reset errors
    document.querySelector('.errors').innerText = '' // has no effect in my application

    // get the values
    const email = form.email.value

    const password = form.password.value
    try {
      const res = await fetch('/signup', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: { 'content-type': 'application/json' },
      })
      const result = await res.json() // this will be either user or errors sent from signup_post controller
      if (result.errors) {
        document.querySelector('.errors').innerText = Object.values(
          result.errors
        )
      }
      if(result.user){
        location.assign('/') // this how we redirect on the frontend
      }
    } catch (err) {
      console.log(err)
    }
  })
</script>

<%- include('partials/footer'); -%>
